<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YUI3 Demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://yui-s.yahooapis.com/3.18.1/build/yui/yui-min.js"
      defer
    ></script>
    <script src="/src/js/main.js" type="module"></script>
    <!-- <style>
      #box {
        width: 200px;
        height: 200px;
        background-color: red;
        position: relative;
      }

      #container {
        width: 300px;
        height: 300px;
        overflow: auto;
      }
    </style> -->
  </head>
  <body>
    <!-- <div id="app"></div>
    <ul id="list">
      <li>first</li>
      <li>second</li>
    </ul>
    <p>
      <button type="button" id="btn">toggle</button>
    </p>
    <div id="box"></div>

    <div id="container"></div>

    <div id="clicker"></div>

    <div id="user-list"></div>
    <script type="text/x-yui3-template" id="user-list-tmpl">
      <ul>
        <% Y.Array.each(this.users, (user) => { %>
          <li><%= user.name %> <i>(<%= user.email %>)</i></li>
        <% }) %>
      </ul>
    </script> -->
    <main>
      <h1>Time Zones</h1>
      <article class="c-timezone">
        <h2 class="c-timezone__title">Amsterdam, Netherlands</h2>
        <p class="c-timezone__zone">JST (UTC +9)</p>
        <button type="button" class="c-timezone__cta">
          <span class="u-visually-hidden">Remove</span>
        </button>
        <fieldset class="c-timezone__fieldset">
          <legend class="u-visually-hidden">Date and time</legend>
          <label class="c-field -compact">
            <input
              class="c-field__input -reset"
              type="date"
              value="2020-10-10"
            />
            <span class="c-field__label">Date</span>
          </label>
          <label class="c-field -compact">
            <input class="c-field__input -reset" type="time" value="23:24" />
            <span class="c-field__label">Time</span>
          </label>
        </fieldset>
      </article>
      <button type="button">Add</button>
    </main>
  </body>
</html>
