<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YUI3 Demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://yui-s.yahooapis.com/3.18.1/build/yui/yui-min.js"
      defer
    ></script>
    <script src="/src/js/main.js" type="module"></script>
    <!-- <style>
      #box {
        width: 200px;
        height: 200px;
        background-color: red;
        position: relative;
      }

      #container {
        width: 300px;
        height: 300px;
        overflow: auto;
      }
    </style> -->
  </head>
  <body>
    <!-- <div id="app"></div>
    <ul id="list">
      <li>first</li>
      <li>second</li>
    </ul>
    <p>
      <button type="button" id="btn">toggle</button>
    </p>
    <div id="box"></div>

    <div id="container"></div>

    <div id="clicker"></div>

    <div id="user-list"></div>
    <script type="text/x-yui3-template" id="user-list-tmpl">
      <ul>
        <% Y.Array.each(this.users, (user) => { %>
          <li><%= user.name %> <i>(<%= user.email %>)</i></li>
        <% }) %>
      </ul>
    </script> -->
    <svg display="none" id="icons">
      <symbol
        id="icon-close"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="15" y1="9" x2="9" y2="15"></line>
        <line x1="9" y1="9" x2="15" y2="15"></line>
      </symbol>
      <symbol
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        id="icon-plus"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </symbol>
    </svg>
    <main id="main">
      <h1 class="u-visually-hidden">Time Zones</h1>
      <div class="l-stack">
        <div id="timezone-list" class="u-contents">
          <article class="c-timezone c-tile">
            <h2 class="c-timezone__title">Amsterdam, Netherlands</h2>
            <p class="c-timezone__zone">JST (UTC +9)</p>
            <button type="button" class="c-timezone__cta">
              <svg class="c-icon" focusable="false" aria-hidden="true">
                <use xlink:href="#icon-close" />
              </svg>
              <span class="u-visually-hidden">Remove</span>
            </button>
            <fieldset class="c-timezone__fieldset">
              <legend class="u-visually-hidden">Date and time</legend>
              <div class="c-field c-field--compact">
                <input
                  class="c-field__input c-field__input--reset"
                  type="date"
                  id="date-1"
                  value="2020-10-10"
                />
                <label class="c-field__label" for="date-1">Date</label>
              </div>
              <div class="c-field c-field--compact">
                <input
                  class="c-field__input c-field__input--reset"
                  type="time"
                  id="time-1"
                  value="23:24"
                />
                <label class="c-field__label" for="time-1">Time</label>
              </div>
            </fieldset>
          </article>
        </div>
        <div
          class="c-tile l-cluster"
          style="--cluster-spacing: --s-0; --cluster-align: stretch"
        >
          <div class="c-field c-field--compound">
            <input
              class="c-field__input c-field__input--reset"
              type="text"
              id="city-name"
              placeholder="Add a new city..."
            />
            <label class="c-field__label" for="city-name">City name</label>
            <button type="button" class="c-button c-field__action">Add</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
