<p class="c-toast__message">
  New content available, click on reload button to update.
</p>
<button class="c-button c-toast__confirm" type="button">Reload</button>
<button class="c-button c-toast__close" type="button">Close</button>
