.c-button {
  display: flex;
  gap: var(--s-1);
  background-color: var(--color-background-action);
  color: var(--color-text-action);
  border: 0;
  border-radius: var(--size-border-radius-s);
  padding: var(--s-2);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  transition: background-color 200ms ease-out;
  align-items: center;
}

.c-button:where(:hover, :focus) {
  background-color: var(--color-background-action-active);
}
