@layer components {
  .c-field {
    display: grid;
    grid-template-areas:
      'label label'
      'input action';
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: stretch;
    border: 0;
    color: inherit;
    font-size: inherit;
    row-gap: var(--s-1);
  }

  .c-field__input {
    grid-area: input;
    min-inline-size: 0;
    padding: var(--s-1) var(--s-2);
    transition: outline-color 100ms ease-out;
    border: 0;
    border-radius: var(--size-border-radius-s);
    outline: 2px solid transparent;
    background-color: color-mix(in hsl, currentcolor 10%, transparent 90%);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
  }

  .c-field__input:is([type='date'], [type='time']) {
    inline-size: auto;
    font-family: var(--font-family-mono);
    font-weight: var(--font-weight-light);
  }

  .c-field__input::placeholder {
    opacity: 1;
    color: inherit;
  }

  .c-field__input:focus-visible {
    outline-color: color-mix(in hsl, currentcolor 70%, transparent 30%);
  }

  .c-field__input--reset {
    appearance: textfield;
  }

  @media (prefers-color-scheme: light) {
    .c-field__input:is(
        [type='date'],
        [type='time']
      )::-webkit-calendar-picker-indicator,
    .c-field__input:is(
        [type='date'],
        [type='time']
      )::-webkit-inner-spin-button {
      filter: invert(1);
    }
  }

  .c-field__action {
    z-index: 1;
    grid-area: action;
  }

  .c-field__label {
    grid-area: label;
  }

  .c-field--compact {
    row-gap: 0;
  }

  .c-field--compact .c-field__label {
    position: absolute;
    block-size: 1px;
    inline-size: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
  }

  .c-field:has(.c-field__action) > :not(:first-child) {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }

  .c-field:has(.c-field__action) > :not(:last-child) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
}
