.c-field {
  display: grid;
  grid-template-areas:
    'label label'
    'input action';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: stretch;
  border: 0;
  color: inherit;
  font-size: inherit;
  row-gap: var(--s-1);
}

.c-field::after,
.c-field::before {
  content: '';
  display: block;
  grid-area: input;
  border-radius: var(--size-border-radius-s);
  pointer-events: none;
}

.c-field::before {
  padding: var(--s-1) var(--s-2);
  border-radius: var(--size-border-radius-s);
  opacity: 0.1;
  background-color: currentColor;
}

.c-field::after {
  transition: opacity 100ms ease-out;
  border: 2px solid currentColor;
  opacity: 0;
}

.c-field:focus-within::after {
  border: 2px solid currentColor;
  opacity: 0.5;
}

.c-field__input {
  grid-area: input;
  order: 1;
  min-width: 0;
  padding: var(--s-1) var(--s-2);
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

.c-field__input:is([type='date'], [type='time']) {
  width: auto;
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-light);
}

.c-field__input::placeholder {
  opacity: 1;
  color: inherit;
}

.c-field__input--reset {
  appearance: textfield;
}

.c-field__input:is([type='date'], [type='time'])::-webkit-calendar-picker-indicator,
.c-field__input:is([type='date'], [type='time'])::-webkit-inner-spin-button {
  filter: invert(1);
}

.c-field__action {
  z-index: 1;
  grid-area: action;
  margin-left: calc(var(--size-border-radius-s) * -1);
}

.c-field__label {
  grid-area: label;
}

.c-field--compact {
  row-gap: 0;
}

.c-field--compact .c-field__label {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
