.c-icon {
  --icon-size-ratio: 1;
  display: inline-block;
  width: calc(var(--icon-size-ratio) * 1em);
  height: calc(var(--icon-size-ratio) * 1em);
  line-height: inherit;
}

.c-icon--large {
  --icon-size-ratio: 1.25;
}
