.c-field {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'label'
    'input';
  border: 0;
  gap: var(--s-1);
  font-size: inherit;
  color: inherit;
}

.c-field::after {
  content: '';
  display: block;
  grid-area: input;
  background-color: currentColor;
  opacity: 0.1;
  border-radius: var(--size-border-radius-s);
  padding: var(--s-1) var(--s-2);
  pointer-events: none;
}

.c-field__input {
  border: 0;
  grid-area: input;
  background-color: transparent;
  letter-spacing: inherit;
  font-size: inherit;
  color: inherit;
  padding: var(--s-1) var(--s-2);
  min-width: 0;
  order: 1;
}

.c-field__input:is([type='date'], [type='time']) {
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-light);
}

.c-field__input.-reset {
  appearance: textfield;
}

.c-field__input.-reset::-webkit-calendar-picker-indicator,
.c-field__input.-reset::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.c-field.-compact {
  gap: 0;
}

.c-field.-compact .c-field__label {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
