.c-toast {
  --toast-breakpoint: calc(36rem - 100%);
  display: flex;
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  flex-wrap: wrap;
  align-items: center;
  inline-size: 100%;
  min-inline-size: 0;
  margin: 0;
  gap: var(--s-2);
  opacity: 0.1;
}

.c-toast__message {
  flex-basis: calc(var(--toast-breakpoint) * 999);
  flex-grow: 1;
}

.c-toast.c-toast--visible {
  padding: var(--s-2);
  opacity: 1;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: var(--font-size-s);
}
