@layer layout {
  .l-stack {
    --stack-spacing: var(--s-5);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--stack-spacing);

    &:where(ul, ol) {
      padding-inline-start: 0;
      margin-block: 0;
    }
  }

  .l-cluster {
    --cluster-spacing: var(--s-5);
    --cluster-align: flex-start;
    display: flex;
    place-items: var(--cluster-align);
    gap: var(--cluster-spacing);

    &:where(ul, ol) {
      padding-inline-start: 0;
      margin-block: 0;
    }
  }

  #main {
    max-inline-size: 45rem;
    margin-inline: auto;
    padding: var(--s-5) var(--s-4);
    box-sizing: content-box;
  }

  #main[aria-busy='true'] {
    display: none;
  }

  #tz-select {
    view-transition-name: form;
    view-transition-class: form;
  }
}
