@layer reset, base, components, layout, utilities;

@import url('sanitize.css') layer(reset);
@import url('sanitize.css/reduce-motion.css') layer(reset);
@import url('./tokens');
@import url('components/timecard.css');
@import url('components/icon.css');
@import url('components/tile.css');
@import url('components/field.css');
@import url('components/button.css');
@import url('components/loader.css');
@import url('components/toast.css');
@import url('layout.css');
@import url('./utilities.css');
