@import 'sanitize.css';
@import 'sanitize.css/reduce-motion.css';
@import './tokens';
@import 'components/timecard.css';
@import 'components/icon.css';
@import 'components/tile.css';
@import 'components/field.css';
@import 'components/button.css';
@import 'components/loader.css';
@import 'components/toast.css';
@import 'animations.css';
@import 'layout.css';
@import './utilities.css';

html {
  height: 100%;
  font-family: var(--font-family-sans);
  font-size: 100%;
  line-height: 1.5;
}

body {
  min-height: 100%;
  background-color: var(--color-background-canvas);
}
