@import url('sanitize.css');
@import url('sanitize.css/reduce-motion.css');
@import url('./tokens');
@import url('components/timecard.css');
@import url('components/icon.css');
@import url('components/tile.css');
@import url('components/field.css');
@import url('components/button.css');
@import url('components/loader.css');
@import url('components/toast.css');
@import url('animations.css');
@import url('layout.css');
@import url('./utilities.css');

html {
  height: 100%;
  font-family: var(--font-family-sans);
  font-size: 100%;
  line-height: 1.5;
}

body {
  min-height: 100%;
  background-color: var(--color-background-canvas);
}
