@layer utilities {
  .u-visually-hidden {
    position: absolute;
    block-size: 1px;
    inline-size: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
  }

  .u-contents {
    display: contents;
  }
}
